/* Bright green color palette */
body {
    background-color: #13221E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFA84;
}

p {
    color: #FFFA84;
}

button {
    background-color: #FFFA84;
    color: #67F38B;
}

select,
input {
    background-color: #67F38B;
    color: #FFFA84;
}

/* Basic game interface rules */
button {
    cursor: pointer;
}

select,
input {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

button:disabled {
    background-color: #990000;
    font-size: 0.8em;
    opacity: 0.5;
}
/* You can add more rules here to style your specific game interface */
