/* Dark green color palette */
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #578A76;
}

p {
    color: #578A76;
}

button {
    background-color: #619F88;
    color: white;
}

select,
input {
    background-color: #fff;
    color: #000;
}

/* Basic game interface rules */
button {
    cursor: pointer;
}

select,
input {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

/* Disable buttons using the disabled attribute */
button:disabled {
    background-color: #990000;
    font-size: 0.8em;
    opacity: 0.5;
}

/* You can add more rules here to style your specific game interface */
